body{
  margin: 0;
  padding: 0;
  contain: content;
  background-color: rgb(238, 238, 238);
}
.head-text{
 text-align: center;
margin-top: 180px;
  font-size: 50px;
}
.nav-item a:hover{
background-color: rgb(0, 51, 161);
border-top: solid 5px rgb(3, 3, 110);
width: 80px;
color: #fff;
}
a:hover{
color: #fff;
}
.navbar{
  z-index: 11;
}
.card-area{
  margin-top: 50px;
}
.nav-bar{
margin-right: 100px;
}
.service-offered{
  margin-top: 200px;
}
.services{
  overflow: hidden;
  width: 100%;  
}
.services-2{
  overflow: hidden;
  width: 100%;  
}

.service{
opacity: 0.8;
 
  padding: 20px;
  width: fit-content;align-items: center;
}
.heatText{
  margin-top: 150PX;
}
.service:hover{

   opacity: 1.0;
}

.services-offered hr, .church-leaders hr, 
.cards-area hr, .live-screen hr{
  border:2px solid rgb(40, 102, 236);
  width: 120px;
}
.bonner{
  height: 700px;
}

.fa-facebook-f, .fa-twitter{
padding: 10px;
border: 1px solid rgb(40, 102, 236);
background-color: #fff;
  border-radius: 50%;
  width: 38px;
  color: rgb(40, 102, 236);
  margin-left: 10px;
}
.fa-instagram, .fa-youtube{
padding: 10px;
border: 1px solid rgb(40, 102, 236);
background-color: #fff;
  border-radius: 50%;
  width: 38px;
  color: rgb(185, 0, 46);
  margin-left: 10px;
}
.foot-link li{
  list-style: none;
 justify-content: center;
 overflow-wrap: inherit;

}
.foot-link a{
  text-decoration-style: dotted;
 color: #000;

}
.foot-area hr{
  width: 50px;
  border: 2px solid #fff;
 margin: 30px 0 30px 0;
  color:rgb(225, 225, 236); ;
}
rgb(40, 102, 236)

